.detailMealDesign {
    height: 100%;
    width: 100%;
    background-color: rgb(197, 184, 184);
}

.collumns {
    display: flex;
    padding: 2em;
}

.leftSide {
    width: 40%;
}

.rightSide {
    width: 60%;
    padding-left: 2em;
}


.titleDesign {
    font-size: 1.5em;
    padding: 0.5em;
}

.detailPic img {
    width: 90%;
    object-fit: contain;
}

.categoryDesign {
    display: inline-flex;
    padding: 1em;
}

.textDesign {
    padding: 1em;
}

.descriptionDesign {
    line-height: 1.6;
    text-align: initial;
}

h2 {
    text-align: left;
}
