.header-design {
  height: 10vh;
  width: 100vw;

  background-color: rgb(219, 163, 154);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.title {
  width: 20vw;
  font-size: 4em;
  color:  rgb(0, 0, 0);
}

.link-container{
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link-design {
  text-decoration: none;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
  color:  rgb(0, 0, 0);

  margin: 2em;

  cursor: pointer;

  transition: 0.5s;
}

.link-design:hover {
  font-size: 2em;

  transition: 0.5s;
}

.active-link-design {
  text-decoration: none;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: bolder;
  font-size: 2.5em;
  color: rgb(0, 0, 0);
  
  border-bottom: 0.1em solid  rgb(240, 219, 219);
  margin: 2em;

  cursor: pointer;

  transition: 0.5s;
}

#switch{
  visibility: hidden;
}

.label-toggle {
  width: 5em;
  height: 2.5em;
  border-radius: 1.5em;

  cursor: pointer;
  position: relative;
  display: block;

  background-color:rgb(245, 235, 224);
}

.label-toggle:after {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  top: 0.25em;
  left: 0.15em;

  content: '';
  position: absolute;
 
  background-color:rgb(0, 0, 0,0.8);
  transition: 0.3s;
}

input:checked + .label-toggle {
  background: rgb(63, 0, 113);
}

input:checked + .label-toggle:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.dark-theme-background{
  background-color: rgb(0, 0, 0);
  transition: 0.3s;
}

.dark-theme-content{
  color: rgb(240, 219, 219);
  transition: 0.3s;
}


